.resource-details {
  min-width: 500px;
  padding: 20px;
  color: #000;
  border-radius: 6px;
}

h3 {
	border-bottom: 1px solid #e0e0e0;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.resource-details div {
  margin: 10px 0;
}

.resource-details label {
  display: inline-block;
  vertical-align: top;
  width: 7em;
  font-weight: bold;
}

.resource-details .important {
  color: #900;
}

.resource-details input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
.resource-details button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #f0f0f0;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  cursor: pointer; cursor: hand;
}

.resource-details button:hover {
  background-color: #69c;
  color: #fff;
}

.resource-details textarea:disabled {
  background-color: #f0f0f0;
}

.resource-details textarea { 
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 12pt;
}
