.wrapper {
  flex: 1 1 auto;
}

#container {
  height: 100vh;
  display:flex;
  flex-direction:column;
}

header {
  height: 60px;
  background-color: #369;    
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

footer {
  border-top: 1px solid #ccc;
  padding: 5px;
  text-align: center;
}

h1 {
  color: white;   
  font-size: 22pt;
  padding-top: 15px;
  padding-bottom: 15px;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 60px;
  margin: 0;
  font: Tahoma,Lucida Sans,sans-serif;
}

h2 { 
  font-size: 20pt;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fbfbfb;
  color: #333;
  margin: 0;
  margin-bottom: 10px;
  min-width: 600px;
  border-bottom: 1px solid #eee; 
  font: Tahoma,Lucida Sans,sans-serif;
}

h2 i {
  margin-right: 20px;
}

h3 i {
  margin-right: 15px;
}

h4 i {
  margin-right: 10px;
}


h3 { 
  font-size: 16pt;
  margin: 0;
  margin-bottom: 15px;
  font: Tahoma,Lucida Sans,sans-serif;
}

h4 { 
  font-size: 13pt;
  margin: 0;
  margin-bottom: 15px;
  font: Tahoma,Lucida Sans,sans-serif;
}

a {
  text-decoration: none;
}

body { 
  margin: 0;
}

* { 
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 12pt;
}
